name: test

permissions:
  contents: read
  pull-requests: read

on:
  schedule:
    - cron: "0 0 * * 0"
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      # Install Nix
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      # Build Check
      - name: Build Check
        run: nix develop --command bash -c "pnpm i && pnpm run build"
